/*Configuracion general de pagina*/
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
/*Aplicamos display:flex al headerpara que ponga en línea el nav con el botón de iniciar sesión*/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #8bc34a;
}

nav{
    display: flex;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav ul li a{
    margin-left: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px 12px;
    text-transform: uppercase;
    
}
#btn1{
    margin-left: 20px;
}

#sesion{
    font-size: 18px;
    margin-right: 25px;
    background: #00bcd4;
    border-radius: 50px;
    border: #dcedc8 solid 5px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px 15px;
    text-transform: uppercase;
 
}

.logo{
    margin-left: 10%;
    height: 60px;
    border-radius: 50px;
}

/*Hovers de Barra de Navegacion*/
.logo:hover{
    border: #00bcd4 solid 2px;
    transition: .2s;
}

#sesion:hover{
    color: #00bcd4;
    background: #dcedc8;
    border: #00bcd4 solid 5px;
    transition: .5s;
}

.boton:hover{
    color: #00bcd4;
    transition: .5s;
}

/*Cosas que dejo pre hechas para funcionalidades de mas adelante uwu*/
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*Seccion de contenido*/
section{
    background: url(../img/fondo3.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 30px - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background-color: #dcedc8;
    opacity: 0.9;
    border-radius: 20px;
    color: #757575;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    width: 350px;
}

input, textarea{
    border: 0;
    outline: none;
    width: 280px;
}

.field{
    border: solid 2px #689f38;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.field:focus{
    border-color: #00bcd4;
}

.center-content{
    text-align: center;
}

.btn_confirmar{
    font-size: 15px;
    background: #00bcd4;
    border-radius: 50px;
    border: #dcedc8 solid 5px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px 15px;
    text-transform: uppercase;
}

.btn_confirmar:hover{
    color: #00bcd4;
    background: #dcedc8;
    border: #00bcd4 solid 5px;
    transition: .5s;
}

.div_email{
    text-align: center;
    width: 400px;
    margin-left: 15%;
}

.imagen_email{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-bottom: 50px;
}

.texto_email{
    color: #212121;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Footer*/
footer{
    background: #757575;
    height: 30px;
    width: 100%;
}

.texto{
    display: inline-block;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 7px 20px;
}

#instituto{
    float: right;
}