/*Configuracion general de pagina*/
*{
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}
/*Aplicamos display:flex al headerpara que ponga en línea el nav con el botón de iniciar sesión*/


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 80px;
  background: #8bc34a;
}

nav {
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav ul li a {
  margin-left: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 12px;
  text-transform: uppercase;
}
#btn1 {
  margin-left: 20px;
}

#sesion {
  font-size: 18px;
  margin-right: 25px;
  background: #00bcd4;
  border-radius: 50px;
  border: #dcedc8 solid 5px;
  color: white;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 15px;
  text-transform: uppercase;
}

.logo {
  margin-left: 10%;
  height: 60px;
  border-radius: 50px;
}

#sesion {
  background: #00bcd4;
  border-radius: 50px;
  border: #dcedc8 solid 5px;
}
/*Hovers de Barra de Navegacion*/
.logo:hover {
  border: #00bcd4 solid 2px;
  transition: 0.2s;
}

#sesion:hover {
  color: #00bcd4;
  background: #dcedc8;
  border: #00bcd4 solid 5px;
  transition: 0.5s;
}

.boton:hover {
  color: #00bcd4;
  transition: 0.5s;
}

/* Seccion Inicio del Slider - Andres */

.an-slider {
  border-radius: 0px;
  position: relative;
  margin:auto;
  padding-top: 0px;
 
}

.an-slider ul {
  list-style-type: none;
  margin: 0;
  padding: 0;    
}

.an-slider ul li  {
  position: relative;
  display: none;
  height:350px;
}

.an-slider ul li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1px;
}
.an-slider ul li span {
  position: absolute;
  bottom: 0;
  background: hsl(0, 1%, 72%, .1);
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #fff;
}
/* buttons */
.an-slider .buttons  {
  position: absolute;
  top: 40%;
  width:  100%;
}
.an-slider .buttons .next {
  font-size: 2rem;
  right: 0;
  position: absolute;
  cursor: pointer;
  width: 50px;
  text-align: center;
}    
.an-slider .buttons .prev {
  font-size: 2rem;
  left: 0;
  position: absolute;
  cursor: pointer;
  width: 50px;
  text-align: center;
}   
.an-slider .buttons .next:hover {
  background: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 93%);
}
.an-slider .buttons .prev:hover {
  background: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 93%);
}

/* slider animation */
.an-slider ul li {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

/* Seccion Final del Slider - Andres */

/* Seccion inicio del cuerpop - Andres*/

.an-cuerpo-imagenes{
  background-color: #8bc34a;
}

/*Cosas que dejo pre hechas para funcionalidades de mas adelante uwu*/
.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}


/*Seccion de contenido*/
section {
  background: url(img/fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 30px - 80px);
  width: 100%;
  display: flex;
}
.cuadros {
  background-color: white;
  width: 40%;
  height: 25%;
  border-radius: 5%;
  margin-top: 1%;
  margin-left: 1%;
  overflow: hidden;

}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;

}
.colaboradores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
    
}

.imgPersona {

  max-height: 80%;
  max-width: 80%;
  border-radius: 5%;
  
}

.textP {
  font-size: 18px;
  color: #212121;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: #212121;
  font-size: 50px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#parrafo {
  color: #212121;
  font-size: 20px;
  text-align: justify;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.aside {
  width: 40%;
}
h2 {
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

/*Footer*/


footer { /*Lo cambie para probar - Andres*/
  background: #757575;
    height: 30px;
    width: 100%;
}

.texto {
  display: inline-block;
  color: white;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 7px 20px;
}

#instituto {
  float: right;
}