/*Configuracion general de pagina*/
* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

/*Aplicamos display:flex al headerpara que ponga en línea el nav con el botón de iniciar sesión*/

body {
  background: url(../img/fondo2.jpg) fixed;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 30px - 80px);
  width: 100%;
  padding-bottom: 3em;
  min-height: 100vh;

}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 80px;
  background: #8bc34a;
}

nav {
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav>ul {
  display: flex;
}

nav ul li a {
  text-decoration: none;
  margin-left: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 12px;
  text-transform: uppercase;
}

#btn1 {
  margin-left: 20px;
}

#sesion {
  font-size: 18px;
  margin-right: 25px;
  background: #00bcd4;
  border-radius: 50px;
  border: #dcedc8 solid 5px;
  color: white;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 15px;
  text-transform: uppercase;
}

.logo {
  margin-left: 10%;
  height: 60px;
  border-radius: 50px;
}

#sesion {
  background: #00bcd4;
  border-radius: 50px;
  border: #dcedc8 solid 5px;
}

/*Hovers de Barra de Navegacion*/
.logo:hover {
  border: #00bcd4 solid 2px;
  transition: 0.2s;
}

#sesion:hover {
  color: #00bcd4;
  background: #dcedc8;
  border: #00bcd4 solid 5px;
  transition: 0.5s;
}

.boton:hover {
  color: #00bcd4;
  transition: 0.5s;
}

/*Cosas que dejo pre hechas para funcionalidades de mas adelante uwu*/
.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


/*Seccion de contenido*/

section {
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 30px - 80px);
  width: 100%;
}

/*Seccion del Sliders*/

.slider {
  width: 90%;
  height: 500px;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 100%;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider image {
  height: 100%;
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0%;
  }

  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}


.presentacion {
  margin: auto;
  text-align: center;
  text-decoration: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
}

.text_presentacion {
  width: 70%;
  margin-top: 20px;
  margin: auto;
  text-align: center;
  font-size: 22px;
  color: #212121;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
}

.publicaciones {
  background-color: #dcedc8;;
  width: 50%;
  height: 350px;
  margin-top: 3%;
  margin-left: 6%;
  position: relative;
  float: left;
  border: solid 2px black;
  border-radius: 20px;
  text-align: right;
}

.publicaciones_2{
  background-color: #dcedc8;;
  width: 50%;
  height: 400px;
  margin-top: 3%;
  margin-right: 6%;
  position: relative;
  float: right;
  border: solid 2px black;
  border-radius: 20px;
  text-align: right;
}

.imagen{
  border: solid 2px black;
  height: 80%;
  width: 45%;
  float:left;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}


.texto_imagenes{
  margin-top: 3%;
  margin-right: 3%;
  height: 80%;
  width: 45%;
  color: #212121;
  font-size: 20px;
  float: right;
  margin-right: 2%;
  text-align: left;
}

/*Footer*/

footer {
  background: #757575;
  position: fixed;

  width: 100%;
  height: 30px;
}

.texto {
  display: inline-block;
  color: white;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 7px 20px;
}

#instituto {
  float: right;
}