/*Configuracion general de pagina*/
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
/*Aplicamos display:flex al headerpara que ponga en línea el nav con el botón de iniciar sesión*/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 80px;
    background: #8bc34a;
}

nav{
    display: flex;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav ul li a{
    margin-left: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px 12px;
    text-transform: uppercase;
    
}
#btn1{
    margin-left: 20px;
}

#sesion{
    text-align: center;
    font-size: 18px;
    margin-right: 25px;
    background: #00bcd4;
    border-radius: 50px;
    border: #dcedc8 solid 5px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px 15px;
    text-transform: uppercase;
 
}

.logo{
    margin-left: 10%;
    height: 60px;
    border-radius: 50px;
}

#sesion{
    background: #00bcd4;
    border-radius: 50px;
    border: #dcedc8 solid 5px;
    
}
/*Hovers de Barra de Navegacion*/
.logo:hover{
    border: #00bcd4 solid 2px;
    transition: .2s;
}

#sesion:hover{
    color: #00bcd4;
    background: #dcedc8;
    border: #00bcd4 solid 5px;
    transition: .5s;
}

.boton:hover{
    color: #00bcd4;
    transition: .5s;
}

/*Cosas que dejo pre hechas para funcionalidades de mas adelante uwu*/
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*Seccion de contenido*/
section{
    display: flex;
    justify-content: space-between;
    background: url(../img/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 30px - 80px);

}
.bienvenida{
    width: 45%;
    height: 80%;
    overflow-y: scroll;
    margin-left:10% ;
    margin-top: 5%;
}

::-webkit-scrollbar {
    display: none;
}

h1{
    color: #212121;
    font-size: 6vh;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sub{
    color: #212121;
    font-size: 4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 0;
}

hr{
    background: #c79e68;
    height: 4px;
    border-radius: 50px;
    margin: 20px 0;
}

#parrafo{
    color: #212121;
    font-size: 2.7vh;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vecinos{
    background: #689f38;
    width: 380px;
    height: 90%;
    border-radius: 50px;
    margin-right: 2%;
    margin-top: 2%;
    
}

h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px;
    text-align: center;
}

.bubble{
    background: #dcedc8;
    position: absolute;
    width: 330px;
    height: 150px;
    margin: 10px 27px;
    border-radius: 10px;
    opacity: 0.8;
}

/*Footer*/
footer{
    background: #757575;
    height: 30px;
    width: 100%;
}

.texto{
    display: inline-block;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 7px 20px;
}

#instituto{
    float: right;
}

